ext/math_link
ext/math_link2
ext/testwrapper
ext/HighLExtrapTemplate_lenspotentialCls.dat
ext/camb/*
ext/CosmicEmulator/*
ext/FrankenEmu/*
ext/halofit/*
ext/tf/*.o
ext/copter-0.8.7/*
ext/math_link_tm.c
ext/tags
doc/*log
doc/*aux
ext/patchmakefile.sh
ext/camb_wrapper.o
ext/cambwrapper.mod
ext/copter_wrapper.o
ext/extcosmo.zip
ext/math_link.o
ext/math_link2.o
ext/math_link_tm.o
backup/
ext/Makefile-backup
ext/Makefile
ext/Makefile_mathlink
ext/patchmakefile-backup.sh
ext/patchmakefile.sh~
ext/EFT*
